// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$base-color: #ef3a45;
.wrapper-login {
  position: relative;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
}
.login-links {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/imagenes/food.png);
  background-size: 100%;
  height: fit-content;
  max-height: 500px;
  filter: brightness(1.7);
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 3px solid $base-color;
  transition: 0.6s ease-out;
  overflow: hidden;
}
.display-login {
  width: fit-content;
  justify-self: center;
  margin: 0 auto;
  padding: 0 10px;
  background: $base-color;
  display: flex;
  justify-content: center;
  clip-path: polygon(0 0, 10% 66%, 50% 98%, 91% 69%, 100% 0);
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  bottom: -18px;
}
.display-login img {
  width: 40px;
  margin-top: -4px;
}
.hidden-login {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  transition: 0.6s ease-out;
}

.login-buttons {
  display: flex;
}
.login-links span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 900;
  width: 70%;
  max-width: 252px;
  text-align: center;
}
.login-buttons a {
  margin: 5px 7px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-weight: bolder;
  border-radius: 12px;
  background: rgba(255, 102, 0, 1);
  border: 2px solid #ffffff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.login-buttons a:last-child {
  color: $base-color;
  background: #ffffff;
  font-weight: 1000;
  border: 2px solid $base-color;
}
/*------------------FORMS REGISTRATIONS----------------------------*/
.wrapper-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.welcome-title {
  margin: 20px auto;
  text-align: center;
}
.welcome-title span {
  color: rgb(179, 6, 6);
}

.welcome-greetings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
}
.greetings-text {
  width: 65%;
  text-align: center;
  font-size: 16px;
}
.greetings-img {
  width: 35%;
  max-width: 140px;
  order: -1;
}
.greetings-img img {
  width: 100%;
}
.new_cliente {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $base-color;
  padding: 15px 20px;
  border-radius: 20px;
}
.new_cliente .field {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.new_cliente .field input,
.distrito {
  height: 40px;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 15px;
  margin-top: 5px;
}
.distrito {
  background: #ffffff;
}
.actions input {
  background: $base-color;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  background: $base-color;
  border: 1px solid $base-color;
  border-radius: 10px;
  margin: 10px 0;
  font-weight: bolder;
  color: #ffffff;
}
.new-session {
  text-decoration: none;
  color: $base-color;
  font-weight: bolder;
}
@media (min-width: 760px) {
  .welcome-title {
    font-size: 30px;
  }
  .greetings-text {
    font-size: 23px;
  }
  .wrapper-form {
    flex-direction: row;
    max-width: 850px;
    width: 90%;
    margin: 0 auto;
  }
  .welcome-greetings {
    flex-direction: column;
  }
}
