$base-color: #ef3a45;
.home-nav {
  background: $base-color;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  // position: fixed;
  // top: 0;
  // width: 100%;
}
.home-nav label {
  z-index: 3;
  position: fixed;
  top: 35px;
  right: 0;
  bottom: -30px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: $base-color;
  color: #ffffff;
  border: 3px solid #ffffff;
  cursor: pointer;
  animation: pulse 3s 2s infinite;
}
.fa-bars {
  font-size: 27px;
}
#menu {
  visibility: hidden;
  display: none;
}
.home-nav label:hover {
  border: 2px solid $base-color;
  background: #ffffff;
  color: $base-color;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 2s;
}
.nav-menu {
  padding: 4px;
  display: none;
  position: fixed;
  top: 74px;
  right: 30px;
  border-radius: 20px;
  list-style: none;
  text-align: center;
  background: #ffffff;
  border: 2px solid $base-color;
  z-index: 2;
}
#menu:checked ~ .nav-menu {
  display: block;
  animation: display_block 0.5s linear;
}

@keyframes display_block {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.logo-image {
  width: 50px;
}
.logo-image img {
  width: 100%;
}
.nav-menu li {
  cursor: pointer;
  background: $base-color;
  padding: 10px 15px;
  margin: 2px 0;
  display: flex;
  justify-content: space-between;
}
.nav-menu li:hover,
.nav-menu li:hover * {
  background: #ffffff;
  color: $base-color;
}
.nav-menu li:hover {
  border: 0.5px solid $base-color;
}
.nav-menu li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.nav-menu li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.nav-menu a {
  font-weight: bolder;
  color: $base-color;
  text-decoration: none;
  width: 100%;
  font-size: 18px;
  line-height: bottom;
  color: #ffffff;
}
.fa-home,
.fa-drumstick-bite,
.fa-shopping-bag,
.fa-user,
.fa-gift {
  color: $base-color;
  font-size: 16px;
  margin-right: 5px;
  color: #ffffff;
}
.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}
.nav-menu h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(167, 20, 20);
}
.nav-menu h3 span {
  color: #000000;
}
.menu-img {
  width: 25px;
}
.wrapper-image {
  display: flex;
}
@media (min-width: 760px) {
  .home-nav {
    justify-content: space-around;
  }
  .home-nav label {
    display: none;
  }
  .nav-menu {
    height: 100%;

    display: flex;
    position: inherit;
    background: none;
  }
  .nav-menu h3 {
    display: none;
  }
  .nav-menu li {
    height: 100%;
    margin: 0 2px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: all 0.5s;
  }
  .nav-menu li a,
  .nav-menu li svg {
    transition: all 0.5s;
  }
  .nav-menu li:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
  }
  .nav-menu li:nth-child(5) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
