<footer class="home-footer">
  <div class="wrapper-nav">
    <ul class="footer-links">
      <li><a href="">Inicio</a></li>
      <li><a href="">Combos</a></li>
      <li><a href="">Pedidos</a></li>
    </ul>
    <ul class="social-links">
      <li><a href=""><i class="fab fa-facebook"></i></a></li>
      <li><a href=""><i class="fab fa-instagram"></i></a></li>
      <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
    </ul>
    <span class="text-footer">
      Hecho con amor y dedicación para ti...
    </span>
  </div>
  <div class="wrapper-nav">
    <ul class="about-info">
      <li><i class="fas fa-map-marker-alt"></i><span>Lima - Perú</span></li>
      <li><i class="fas fa-mobile-alt"></i><span><a href="tel:+51960578207">+58-960578207</a></span></li>
      <li><i class="fas fa-envelope"></i><span>hola@taypapp.com</span></li>
    </ul>
    <h3 class="logo-footer"><span>Tayp</span>App <img class="menu-img" src="/imagenes/logosolo.png" alt=""></h3>
  </div>
  <div class="copyright-info">
    <span class="text-footer">
      © <%= Time.new.year  %> TaypApp. Todos los Derechos Reservados.
    </span>
    <br>
    <span class="text-footer">
      TaypApp es una iniciativa surgida con la inspiración de dos jovenes en busca de la mejor opción en calidad de servicio en el mundo del delivery.
    </span>
  </div>
</footer>
